.landingPage{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 80px auto;
    grid-template-areas: 
    "n n n n n n"
    "b b b b b b"
    ;
    @include media("<=phone"){
         grid-template-rows: 150px auto;
      
    }
    @include media(">=425px", "<=768px"){
        grid-template-rows: 110px auto;
    }

    @include media(">=768px", "<=1024px"){
        grid-template-rows: 110px auto;
    }

    @include media(">=1024px", "<=1200px"){
        grid-template-rows: 110px auto;
    }

    .nav-content{
        grid-area: n;
    }

    .landingPage_body{
        grid-area: b;
    }
}

.landingPage {

    .nav-content{
        // max-width: 1440px;
        // display: flex;
        //  align-items: center;
        // margin: 0 auto;
        // justify-content: space-between;

        // align-self: center;

            // @include media(">phone", "<=425px"){
            //     max-width: 1440px;
            //     display: flex;
            //     align-items: center;
            //     justify-content: space-between;
            // }

    }

    .nav{
        max-width: 1440px;
        width: 100%;
        height: 100%;
         align-items: center;
            display: flex;
                justify-content: space-between;
                margin: 0 auto;
                padding: 0 5rem;
        
        // display: grid;
        // margin: 0 auto;
        // grid-template-columns: repeat(12, 1fr);
        // grid-template-rows: auto;
        // grid-template-areas: 
        // ". l l . . . . . ab ab ab";

        @include media(">phone", "<=1024px"){
                 width: 100%;
                display: flex;
                justify-content: space-between;
                margin: 0 .5rem;
                padding: 0;
               
              }
              @include media(">=425px", "<=768px"){
                  padding: 0 2rem;
              }

              @include media(">=768px", "<=1024px"){
                  padding: 0 5rem;
              }
        ;

            .logo{
                
                background-image: url('/images/Logo_finnikky.png');
                
                 background-repeat:no-repeat;
                width: 192px;
                height: 44px;
                margin-bottom: 0 !important;
                 @include media(">phone", "<=425px"){
                    width: 50px;
                    height: 44px;
                    margin-top:.5rem;
                     background-image: url('/images/small_logo.png');
                    background-repeat:no-repeat;
              }


                     @include media(">=425px", "<=768px"){ 
                         width: 50px;
                    height: 44px;
                    margin-top:.5rem;
                     background-image: url('/images/small_logo.png');
                    background-repeat:no-repeat;
                        // margin-top:.5rem;
                     }
            }
            .accountButtons {
               
                display: flex;
                align-self: center;


                .login, .signUp{
                    display: grid;
                       height: 40px;
                       width: 133px;
                       border: 1px solid #000000;
                       place-items: center;
                       font-weight: 600;
                       cursor: pointer;
                        margin-left: 1rem;
                         margin-right: 1rem;

                       @include media(">phone", "<=425px"){
                        height: 30px;
                       width: 80px;
                       margin-left: 1rem;
                       margin-right: 1rem;
                       }

                        @include media(">=425px", "<=768px"){ 
                             height: 30px;
                       width: 100px;
                       margin-left: 1rem;
                       margin-right: 1rem;
                        }
                        @include media(">=768px", "<=1024px"){
                            height: 40px;
                       width: 110px;
                       margin-left: 1rem;
                       margin-right: 1rem;
                        }

                       

                        a{
                            color: #000000;

                            &:hover{
                                text-decoration: underline ;
                            }
                        }

                        &:hover{
                            background: #F4F5F8;
                        }
                }


                .signUp{
                    background: $mainColor;
                    border: 1px solid $mainColor;
                    transition: all 0.2s ease;

                    @include media(">=425px", "<=768px"){ 
                             height: 30px;
                       width: 100px;
                       margin-left: 1rem;
                        }
                    
                        a{
                            color: #ffffff;
                           
                        }

                        &:hover{
                            background: darken($mainColor, 10%);
                            border: 1px solid darken($mainColor, 10%);
                        }
                }
            }
    }
}

.landingPage_body{
    
        background-color: #fff;
background-image:
// linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
height: 90vh;

    @include media("<=phone"){
      
    }

    @include media(">phone", "<=425px"){

    }
    @include media(">=425px", "<=768px"){

    }
     @include media(">=768px", "<=1024px"){

     }
}
.landingPage_content{
    max-width: 1100px;
    
    margin: 0 auto;
    // display: grid;
    // grid-template-columns: repeat(6, 1fr);
    // grid-template-rows: 90vh;
   
    // place-items: start;

    display: flex;
    align-items: center;
    
    
    @include media(">phone", "<=425px"){
        grid-template-columns: 1fr;
        margin: 1rem;
        // background-image: url('/images/cool_illustration.png');
         background-size: 305px auto;
        background-repeat: no-repeat;
        background-position: center center;
         background-position: right 50px;
        // margin-top: 3.5rem; 
    }
     @include media(">=425px", "<=768px"){ 
         max-width: 680px;
         margin: 0 auto;
        grid-template-columns: 1fr;
   
        // background-image: url('/images/cool_illustration.png');
         background-size: 480px auto;
         background-position: center 20px;
        background-repeat: no-repeat;
        // margin-top: 3.5rem; 
        align-content: center;

        
     }

     @include media(">=768px", "<=800px"){
         padding: 5rem;
     }

      @include media(">=768px", "<=1024px"){
            max-width: 760px;
          margin: 0 auto;
          padding: 2rem;
        //   display: grid;
        
          

      }

      @include media(">=1024px", "<=1200px"){
          max-width: 900px;
          margin: 0 auto;

      }
    

    

    .sales_pitch{
        display: grid;
        grid-column: 2/3; 
        //  margin-top: 10rem;
        // place-items: center;
        justify-self: end;
        // height:  90vh;

         
    @include media(">phone", "<=425px"){
            margin-top: 5rem; 
            place-items: center; 
             justify-self: center;
      }

       @include media(">=425px", "<=768px"){
           
            // margin-top: 5rem; 
            place-items: center; 
             justify-self: center;
             height:  90vh;
             padding: 2rem;

             display:grid;
             grid-template-columns: 1fr;
             grid-template-rows: repeat(12, 1fr)
       }

      


            .oneline_pitch{
                width: 25rem;
             font-size: 2rem;
             font-weight: 800;
             text-transform: capitalize;
                //   background: -webkit-linear-gradient(to right, #000000, #12FFD5);
            //  background: linear-gradient(to right, #000000, #00CDA9 70%);
            //  -webkit-background-clip: text;
            //  -webkit-text-fill-color: transparent;
                // font-weight: 800;
                color:black;
               
            }

            .sentence_pitch{
                font-size: 1.2rem;
                margin-top: -.6rem;
                line-height: 1.3rem;
                word-spacing: .3rem;
                font-weight: 100;

                @include media(">=600px", "<=768px"){
                    &::after{
                        content: url('/images/cl_.75x.png');
                        display:flex;
                        justify-content: center;
                        // display: inline-block;
                       
                        // content:"";
                    }
                }

                @include media(">=500px", "<=600px"){
                         &::after{
                        content: url('/images/cl_.7x.png');
                        display:flex;
                        justify-content: center;
                        // display: inline-block;
                       
                        // content:"";
                    }
                }

                @include media(">=425px", "<=500px"){
                          &::after{
                        content: url('/images/cl_.5x.png');
                        display:flex;
                        justify-content: center;
                        // display: inline-block;
                       
                        // content:"";
                    }
                }
            }

            .join_now_btn{
                 display: grid;
                       height: 40px;
                       width: 133px;
                       border: 1px solid #000000;
                       place-items: center;
                    //    font-weight: 100;
                       cursor: pointer;
                       background: $mainColor;
                        border: 1px solid $mainColor;
                         transition: all 0.4s ease;
                         margin-top: 3rem;
                         position: relative;
                         font-size: 1.1rem;

                         @include media(">=425px", "<=768px"){
                             grid-row: 9/10;

                         }

                        a{
                           color: #ffffff;

                            &:hover{
                                text-decoration: underline ;
                            }
                        }

                        &:hover{
                           background: darken($mainColor, 10%);
                            border: 1px solid darken($mainColor, 10%);
                        }

                            &::after{
                            content: url('/images/free-quote.png');
                            position:absolute;
                            top: -8.2rem;
                            left: 6rem;

                            @include media(">phone", "<=425px"){
                                        display:none;
                                    }

                             @include media(">=425px", "<=768px"){ 
                                    display:none;
                             }
                            
                            }
                
            }
       
    }

    .cool_illustration{
         display: end;
      grid-column: 3/ -1; 
       margin-top: 3rem;
    // place-items: start;
    // justify-content: end;
    justify-self: center;

        img{
            @include media(">=768px", "<=1024px"){
                width: 420px;
            }

            @include media(">=1024px", "<=1200px"){
                width: 580px;
            }
        }
    @include media(">phone", "<=425px"){
        display:none;
    }
    @include media(">=425px", "<=768px"){ 
        display:none;
    }
    @include media(">=768px", "<=1024px"){
         
    }

    @include media(">=1024px", "<=1200px"){

        padding: 2rem;

    }

                
}
}