html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    // width: 600px;
  margin: auto;
  // max-width: 1440px;
  font-size: 16px;
  background: #F8FAFC;

}

a {
  color: black;
  /* text-decoration: none; */
  
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}
* {
  box-sizing: border-box;
  /* color: red; */
}

.groupStyles{
  display: 'flex';
        align-items : 'center';
        justify-content: 'space-between';
}

.groupBadgeStyles{
  background-color: '#EBECF0';
        border-radius: '2em';
        color: '#172B4D';
        display: 'inline-block';
        font-size: 12;
        font-weight: 'normal';
        line-height: '1';
        min-width: 1;
        padding: '0.16666666666667em 0.5em';
        text-align: 'center';
       
}

